@namespace url(http://www.w3.org/1999/xhtml)

$domain: "'www.braveclojure.com'"

@-moz-document domain(#{$domain})

  .page .content
    float: none !important

    @media only screen and (min-width: 47em)
      float: left !important

  .code.pygments
    overflow: scroll !important
